.elementor-217 .elementor-element.elementor-element-387a2816{--display:flex;--min-height:100vh;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;--padding-block-start:20px;--padding-block-end:100px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-217 .elementor-element.elementor-element-387a2816:not(.elementor-motion-effects-element-type-background), .elementor-217 .elementor-element.elementor-element-387a2816 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-astglobalcolor6 );}.elementor-217 .elementor-element.elementor-element-387a2816, .elementor-217 .elementor-element.elementor-element-387a2816::before{--border-transition:0.3s;}.elementor-217 .elementor-element.elementor-element-104efeb3 .elementor-tab-title, .elementor-217 .elementor-element.elementor-element-104efeb3 .elementor-tab-title:before, .elementor-217 .elementor-element.elementor-element-104efeb3 .elementor-tab-title:after, .elementor-217 .elementor-element.elementor-element-104efeb3 .elementor-tab-content, .elementor-217 .elementor-element.elementor-element-104efeb3 .elementor-tabs-content-wrapper{border-width:0px;}.elementor-217 .elementor-element.elementor-element-104efeb3 .elementor-tab-desktop-title.elementor-active{background-color:var( --e-global-color-astglobalcolor6 );}.elementor-217 .elementor-element.elementor-element-104efeb3 .elementor-tabs-content-wrapper{background-color:var( --e-global-color-astglobalcolor6 );}.elementor-217 .elementor-element.elementor-element-104efeb3 .elementor-tab-title, .elementor-217 .elementor-element.elementor-element-104efeb3 .elementor-tab-title a{color:var( --e-global-color-astglobalcolor8 );}.elementor-217 .elementor-element.elementor-element-104efeb3 .elementor-tab-title.elementor-active,
					 .elementor-217 .elementor-element.elementor-element-104efeb3 .elementor-tab-title.elementor-active a{color:var( --e-global-color-astglobalcolor2 );}.elementor-217 .elementor-element.elementor-element-104efeb3 .elementor-tab-title{font-family:"Roboto", Sans-serif;font-size:22px;font-weight:600;}.elementor-217 .elementor-element.elementor-element-104efeb3 .elementor-tab-content{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-217 .elementor-element.elementor-element-104efeb3 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-217 .elementor-element.elementor-element-2f49f73{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-217 .elementor-element.elementor-element-2f49f73, .elementor-217 .elementor-element.elementor-element-2f49f73::before{--border-transition:0.3s;}.elementor-217 .elementor-element.elementor-element-ce8e3c8{--display:flex;--background-transition:0.3s;--border-radius:15px 15px 15px 15px;--margin-block-start:-100px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;}.elementor-217 .elementor-element.elementor-element-ce8e3c8:not(.elementor-motion-effects-element-type-background), .elementor-217 .elementor-element.elementor-element-ce8e3c8 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-astglobalcolor3 );}.elementor-217 .elementor-element.elementor-element-ce8e3c8, .elementor-217 .elementor-element.elementor-element-ce8e3c8::before{--border-transition:0.3s;}.elementor-217 .elementor-element.elementor-element-fcc4d5a .elementor-heading-title{color:var( --e-global-color-astglobalcolor5 );}.elementor-217 .elementor-element.elementor-element-fcc4d5a > .elementor-widget-container{padding:0px 0px 0px 30px;}.elementor-217 .elementor-element.elementor-element-3a3862c{--divider-border-style:solid;--divider-color:#4C5D75;--divider-border-width:1px;}.elementor-217 .elementor-element.elementor-element-3a3862c .elementor-divider-separator{width:100%;}.elementor-217 .elementor-element.elementor-element-3a3862c .elementor-divider{padding-top:5px;padding-bottom:5px;}.elementor-217 .elementor-element.elementor-element-d0a7da6{color:var( --e-global-color-astglobalcolor5 );font-family:"Mulish", Sans-serif;font-size:18px;font-weight:400;line-height:2em;}@media(max-width:767px){.elementor-217 .elementor-element.elementor-element-387a2816{--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;}.elementor-217 .elementor-element.elementor-element-104efeb3 .elementor-tab-title{font-size:16px;}.elementor-217 .elementor-element.elementor-element-104efeb3 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-217 .elementor-element.elementor-element-fcc4d5a > .elementor-widget-container{padding:10px 0px 0px 10px;}.elementor-217 .elementor-element.elementor-element-d0a7da6{font-size:16px;line-height:1.5em;}}/* Start custom CSS for tabs, class: .elementor-element-104efeb3 */@media (min-width: 320px) {
  #h-tabs .elementor-tabs-wrapper {
    display: flex;
        flex-direction: row;
   
}

@media (min-width: 320px) {
  #h-tabs .elementor-tab-mobile-title {
    display: none;
  }
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://ylsdreams.com/wp-content/uploads/Mulish-Regular-1.woff2') format('woff2');
}
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('https://ylsdreams.com/wp-content/uploads/Mulish-Regular-1.woff2') format('woff2');
}
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('https://ylsdreams.com/wp-content/uploads/Mulish-Medium-1.woff2') format('woff2');
}
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('https://ylsdreams.com/wp-content/uploads/Mulish-SemiBold-1.woff2') format('woff2');
}
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('https://ylsdreams.com/wp-content/uploads/Mulish-Bold-1.woff2') format('woff2');
}
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('https://ylsdreams.com/wp-content/uploads/Mulish-ExtraBold-1.woff2') format('woff2');
}
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('https://ylsdreams.com/wp-content/uploads/Mulish-Black-1.woff2') format('woff2');
}
/* End Custom Fonts CSS */